footer {
    width: 100%;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
    background-color: black;

    .container__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 75em;
        margin: auto;
        margin-top: 6.25em;
    }
}



.box__footer{
    display: flex;
    flex-direction: column;
    padding: 2.5em;
}

.box__footer h2{
    margin-bottom: 0.5em;
    color: #ffffff;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

@media screen and (max-width:768px) {
        .soluciones{
            display: none;
        }
}