
.bodyclass {
    background-repeat: no-repeat;
    background-size: contain;
}

.hacheunoinicio {
    color: black;
    padding: 3px;
    border: 5px hidden;
    margin: 0.3em 0.3em 0.3em 0.3em;
    text-decoration: underline;

}

.hachetresinicio{
    text-align: left;
    margin: 1em 1em 1em;

}

.grillamadre {
    display: grid;
    grid-template-areas:
    "menux"
    "inicio"
    "fototxt "
    "cards1"
    "cards2"
    "cards3"
    "footer";
}

.grillamom {
    margin: 2em;

}

.grillainicio1 {
    grid-area: inicio;
    margin: 1em 0em 0em 0em;
}

.grillainicio2 {
    grid-area: fototxt;
    margin: 0em 0em 1em 0em;
}

.grillainicio3 {
    grid-area: cards1;
    background-color: $background;
    width: 100%;
}

.grillainicio4 {
    grid-area: cards2;
    background-color: $background;
    width: 100%;
}

.grillainicio5 {
    grid-area: cards3;
    background-color: $background;
    width: 100%;
}
.grillainicio6{
    grid-area: footer;
   margin: 1em 0em 0em 0em;
}
.grillainicio7{
    grid-area: menux;
     margin: 0%;
}

.container{
    width: 100%;
    max-width: 100%;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-content: stretch;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    
}

.card{
    width: 23.1em;
    height:25.5;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1em 1em 1em 1em;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 23em;
    height: 13.75em;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    font-weight: bold;
}

.container .card a {
    font-weight: 500;
    text-decoration: underline;
    color: rgb(47, 72, 92);
    font-weight: bold;
}
.cardtxt{
    font-family: 'Raleway', sans-serif;
}
h1{
    font-family: 'Raleway', sans-serif;
}



@keyframes move {
    0% {
        transform: translate(30%, 0);
    }

    50% {
        text-shadow: 0 25px 50px #092327;
    }

    100% {
        transform: translate(0);
    }
}